*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%,  rgb(252, 221, 221) 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-attachment: fixed;
}

.music-container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0px;
    z-index: 10;
}

.img-container{
    position: relative;
    width: 110px;
}
.img-container::after{              /* for the white dot in center of image*/
    content: '';
    background-color: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0%;
    left: 0; 

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}
.music-container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.action-btn{
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn-big{
    color: #cdc2d0;
    font-size: 30px;
}
.action-btn:focus{
    outline: 0;
}

.music-info{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 10px 10px 150px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-info h4{
    margin: 0;
    text-transform: capitalize;
    overflow: hidden;
    margin-left: 0%;
    position: relative;
    left: 0px;
    /* transition: margin-left 0.9s ; */
    animation: slide 7s infinite;
}

@keyframes slide {
    0%{
        margin-left: 0%;
    }
    /* 25%{
        margin-left: 25%;
    }
    50%{
        margin-left: 50%;
    }
    75%{
        margin-left: 75%;
    } */
    100%{
        margin-left: 100%;
    }
}


.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    height: 4px;
    width: 100%;
}
.progress{
    background-color: #fe8daa; 
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
.music{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 89%;
}
.list{
    position: relative;
    top: -19px;
}
ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: 2px solid black;
    padding: 10px 36px;
    border-radius: 13px;
    height: 210px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
  }
ul li{
    cursor: pointer;
    margin: 10px 0px;
}

.cur-play{
    color: yellow;
}
.cur-play::after{
    content: '';
    border-right: 2px solid yellow;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50%{
        opacity: 0;
    }
}
h1{
    font-size: 4rem;
    margin-top: -80px;
}

@media screen and (max-width: 768px) {
    .music{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .music-container{
        zoom: 0.8;
    }
    h1{
        margin: auto;
        font-size: 3rem;
        margin-bottom: -34px;
    }
}